@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  background-image: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7)), url('../assets/motherboard.jpeg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: var(--font-main);
  line-height: 1.6;
  font-size: 1.1rem;
}

section {
  /* Eliminamos el padding y el borde para que el espacio lo controle el margen */
  padding: 0; 
  border-bottom: none; 

  /* Añadimos un margen inferior grande para crear el espacio */
  margin-bottom: 6rem; 
}

section:last-of-type {
  margin-bottom: 0; /* La última sección no necesita margen inferior */
}

/* ... (tus estilos globales anteriores) ... */

@media (max-width: 768px) {
  h2 {
    font-size: 2rem; /* Reduce el tamaño de todos los títulos de sección */
  }
}